<h1>{{question.author}} asks "{{question.title}}"</h1>
<br>
<p>{{question.body}}</p>

<h3>Answers</h3>
<ul>
  {{#each question.answers as |answer|}}
    <li>{{answer.content}} - {{answer.author}}</li>
  {{/each}}
</ul>

<!-- <button {{action 'delete' question}}>Delete</button> -->
